<div class="container-fluid">

<div class="well center-block" style="max-width: 400px">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPatients()">Patients</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#cabinets">Cabinet</button>

    <div class="collapse" id="cabinets">
        <hr/>
        <button class="btn btn-default btn-block" ng-click="navigateToDiseases()">
            Diseases
        </button>

        <button class="btn btn-default btn-block" ng-click="navigateToMedicines()">
            Medicines
        </button>
    </div>
</div>

</div>